@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

/* Reset */
:root {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Source Sans Pro', sans-serif;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

html,
body,
div {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Source Sans Pro', sans-serif;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

#main {
  margin: 1.4rem 2rem;
  box-sizing: border-box;
}

.__scrollable-parent {
  height: 560px;
  padding: 0.8rem;
  overflow-y: scroll;
  position: relative;
}

.star-rating {
  position: relative;
}

.half-star-rating {
  position: relative;
  box-sizing: content;
}

/* Dropdown Button */
.dropdown-btn {
  color: #212529;
  margin: 0.1rem;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  border: none;
  text-decoration: underline;
}
/*
.dropdown-btn strong:hover {
  font-size: 1.5rem;
} */

.dropdown-group {
  display: flex;
  align-items: center;
  position: relative;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.dropdown:hover ~ .dropdown-chevron {
  animation: 0.65s anim-rotate-360 ease forwards;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  /* top: 40px;
  left: 200px; */
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 50;
  border: 1px solid #000;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:nth-last-child(1) {
  border-top: 1px solid #000;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  /* font-size: 1.5rem; */
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 105;
  background: transparent;
}

.overlay-item {
  z-index: 110;
  height: 100%;
  width: 10%;
}

.star-rating,
.half-star-rating {
  color: #ffb400;
}

.star-rating-avg {
  color: #ffb400;
  font-size: 1.6rem;
  margin-left: 1.2rem;
  margin-top: 0.6rem;
}

.far {
  color: #999;
}

#pic {
  width: 25vw;
  text-align: center;
}

.img-thumbnail {
  width: 200px;
  height: auto;
}

.styleThumb {
  border-radius: 50%;
  float: left;
  width:  50px;
  height: 50px;
  object-fit: cover;
}

.gallery {
  margin: 0;
}

.galleryPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

