@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

#reviews__container {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  padding: 0.2rem;
  box-sizing: border-box;
  max-width: 100%;
  justify-content: center;
}

.output {
  z-index: 60;
}

.review__recommended i {
  margin-right: 0.1rem;
}

.reviews__btn {
  height: 3.6rem;
}

.reviews__btn:nth-of-type(1) {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 1rem;
  margin-right: 7px;
  padding: 0.6rem;
  padding-top: 0.4rem;
}

.reviews__col {
  width: 58%;
  padding: 0.6rem;
  padding-right: 0;
  padding-top: 0.4rem;
  margin: 0;
  margin-top: 0.4rem;
  overflow-y: hidden;
}

.charts__col {
  width: 42%;
  padding: 0;
  padding-top: 0.6rem;
  /* padding-right: 1rem; */
}

.charts__container {
  width: 100%;
}

.chart__wrapper {
  box-sizing: border-box;
  max-width: inherit;
  width: inherit;
}

.reviews__title {
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 0;
  font-weight: 400;
}

.review__sort {
  margin-top: 0.6rem;
  padding-left: 1rem;
}

.review__sort_span {
  margin-right: 0;
  text-decoration: underline;
}

.review__sort_span:hover {
  cursor: crosshair;
  font-size: 1.5rem;
}

.dropdown-menu {
  z-index: 50;
}

.review__card {
  border-radius: 2px 2px 4px 4px;
  /* border: 1px solid #bebebe; */
  position: relative;
  /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 22;
}

.review__card_sorting,
.review__card:hover {
  border-radius: 2px 2px 4px 4px;
  border: 1px solid #000;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 23;
}

.review__header {
  margin-top: 0.2rem;
}

.review__title-first {
  padding-top: 0;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.review__title {
  padding-top: 0;
  padding-right: 1.4rem;
  font-size: 0.94rem;
  overflow: hidden;
  color: #525252;
}

.review__line {
  margin-top: 0.12rem;
  margin-bottom: 0;
}

.review__badge {
  margin-right: 0.2rem;
}

.review__response {
  margin-top: 0.6rem;
  margin-left: 1.2rem;
}

.review__body {
  margin-top: 0.6rem;
}

.review__text-sm {
  font-size: 0.8rem;
}

.review__text-sm-underline {
  font-size: 0.8rem;
  margin-left: 0.2rem;
  text-decoration: underline;
}

.review__text-sm-light {
  font-size: 0.8rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.review__vertical-bar {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.ratings__avg_num {
  font-weight: bold;
  font-size: 3rem;
  /* font-weight: 400; */
}

.dropdown-chevron {
  color: #212529;
  display: inline-block;
  font-size: 1.4rem;
  box-sizing: content;
}

.dropdown-chevron:hover {
  font-size: 1.65rem;
}

@keyframes anim-rotate-360 {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
